---
layout: default
---

<div class="wrapper">
  {% if page.title %}
  <h1 class="page-title">{{ page.title }}</h1>
  {% endif %}

  <nav style="margin-bottom: 4em;">
    <span class="page-date">
      {% assign date_format = "%Y %b %d" %}
      {{ page.date | date: date_format }}
    </span>
    <span style="margin-left: 2em;">
      {% for tag in page.tags %}
        <code class="post-tag">{{ tag }}</code>
      {% endfor %}
    </span>
    <span style="float: right;">
      <a href="{{ '/' | relative_url }}">Go home</a>
    </span>
  </nav>

  <main>
    {{ content }}
  </main>

  {% if false %}
  <div style="float: right; margin-top: 1em;">
    <span>
      <a href="https://github.com/Infinitifall/infinitifall.github.io/discussions/categories/general">Discuss on Github</a>
    </span>
  </div>
  {% endif %}
</div>
